* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  background-color: #f8f9fa;
}

header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.logo {
  max-width: 650px;
}

nav {
  background-color: #343a40;
  padding: 10px;
  display: block;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
}

.nav-link {
  font-size: 25px;
  color: beige;
}

main {
  padding: 20px;
}

.banner {
  text-align: right;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
}

.banner img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;


}

.card {
  margin: 20px;
  width: 100%;
  display: block;
}

.card img {
  height: 300px; 
  object-fit: cover;
}

.f-logo {
  width: 65px;
  padding: 10px;
}
.copy {
  padding: 15px;
  font-size: 17px;
}
footer {
  background-color: #343a40;  
  padding: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
